body{
    background: #2072A9;
    background: radial-gradient(circle, rgba(32, 114, 169, 1) 0%, rgba(38, 26, 71, 1) 100%);
    color: white;
    height: 100%;
}
.contenedorPerfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.ladoIzquierdoPerfil{
    display: flex;
    width: 10%;
    height: 100%;
}
.ladoDerechoPerfil{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 80px;
}
.fotos{
    display: flex;
    justify-self: right;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}
.sobreFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.fondoDelPerfil {
    width: 98%;
    height: auto;
    display: block;
    border-radius: 15px;
}
.fotoDelPerfil{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid white;
}
.editarPerfilBtn{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: 20px;
}
#editarPerfil{
    display: flex;
    background-color: #5a6f98;
    color: white;
    border-radius: 51px;
    border: none;
    width: 250px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.infoDelUsuario{
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    gap: none;
    font-size: 23px;
}